/* --------common style------*/
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.flowers-tree{
    width: 310px;
    height: 428px;
    padding: 110px 80px 0px 75px;
}


/*----Header Style-----*/

header{
    width: auto;
    background-color:rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 240px;
    gap: 100px;
}
.heading-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}
.heading-description{
    color: rgba(39, 39, 39, 0.60);;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 30px;
}
.btn-shop{

    border-radius: 8px;
    background: #E55473;
    padding: 10px 20px;
    margin-top: 40px;

}
.banner-heading a{ 
    color: #FFF;
    text-decoration: none;
}
.banner-photo{
    display: block;
}
.Header-photo{
    padding-top: 50px;
    margin-bottom: -4px;
}


/*----main Style----*/

/* ------Features Styles------*/
.feature{
    text-align: center;
    background-color: #FFF;
    margin-top: 150px;
}
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.feature-description{
    padding-top: 30px;
    padding-bottom: 40px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.features-flower{
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 240px;
}
.red-flowers-box{
    width: 500px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.pink-flowers-box{
    width: 500px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 0px 20px;
}

.yellow-flowers-box{
    width: 500px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.tree-text, a{
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-bottom: 100px;
}

/*-----bonus-  styles-------*/
.bonus-section{
    text-align: center;
    margin-top: 200px;
    background-color: aliceblue;
}
.flowera-promotion{
    width: auto;
    margin-top: 80px;
}
.section-title{
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 80px;

}
.flowers-collection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px;
    gap:10px;
}
.img{
    width: 450px;
    height: 450px;
    position: relative;
}
.birthday-text{
    position: absolute;
    top: 200px;
    left: 130px;
    color: #071de6;
    font-size: 26px;
    font-weight: bold;
}
.birthday-text:hover{
    transform: rotate(45deg);
    cursor: pointer;
}
.anniversary{
    position: absolute;
    top: 200px;
    left: 110px;
    text-align: center;
    color:#E55473;
    font-size: 26px;
    font-weight: bold;
}
.anniversary:hover{
    display: none;
    cursor:pointer;
}
.wish{
    position: absolute;
    top: 200px;
    left: 130px;
    text-align: center;
    color:#06f556;
    font-size: 26px;
    font-weight: bold;
}

 .wish:hover{
    transform: scale(1.5);
    cursor: pointer;
}

/*-------Deal section Styles-----*/

.deal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 425px;
    padding-right: 430px;
    width: auto;
    margin-bottom: 50px;
    height: 620px;
    background-color:rgba(229, 84, 115, 0.05) ;
    margin-top: 200px;
}
.hot-deal{
    text-align: center;
}
.deal-title{
    color: #272727;
    font-size: 40px;;
    font-weight: 800;
}
.deal-title > span{
   color: #E55473;
}
.deal-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hot-deal a{
    color: #FFF;
    text-decoration: none;
}


/* social media style*/

.social-media{
    width: auto;
    height: 570px;
    background-color: #FFF;
}
.media-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px;
    margin-bottom: 20px;

}
.media-title:hover{
    cursor: pointer;
}
.social-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom:30px;
}
.social-gelary{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 0px 240px;
    gap: 10px;
}
.galary:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/*   latest section style*/
.latest-deeal-container{
    display: flex;
    align-items: center;
    width: auto;
    background-color: #FFF;
    text-align: center;
    margin-top: 10vh;
}
.latest-deal{
    margin: 0px 240px;
    width: 1440px;
    height: 449px;
    background-image:url('Rectangle\ 9.png');
    background-repeat:no-repeat;
    }
.latest-deal-title{
  padding-top: 150px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.coupon-detail{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;

}
.input-text{
    width: 40%;
    height: 65px;
    border: #FFF;
    border-radius: 10px;
    margin: 10px;
}
.latest-deal  a{
    color: #FFF;
    text-decoration: none;  
}

/*----footer ---style*/

.footer-container{
    width: auto;
    height: 55vh;
    background-color:#111010;
    margin-top: 10vh;
}
.footer{
    text-align: center;
    padding-top: 130px;
}
.footer-title span{
    color: #E55473;
}
.footer-title{
    color:white;
    font-size: 48px;;
    font-weight: 800;
    margin-bottom: 20px;
}
.footer-details{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.copy-text{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    }




